@charset "UTF-8";

body{
	background-image: url('../img/fundo.jpg');
	padding-top: 80px;
}

.form-login{

	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 10px;
	background: #E05959;
	
	

}

.form-login input{
	margin-bottom:10px;
}




